.new-member-form{
    margin-left: 50px;
}

.button{
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
    background-color: white;
    color: black;
    border: 2px solid #5a5a5a;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

table{
    width: 80%;
    text-align: left;
    border: 1px solid grey;
}